<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhC55zNCxnLebaIYj-URvg3Spf4BnvRHo</string>
	<key>GCM_SENDER_ID</key>
	<string>969094576773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommereceSchoolProject</string>
	<key>PROJECT_ID</key>
	<string>e-commmerce-ed90b</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commmerce-ed90b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969094576773:ios:6a71e2f547b26f8222c7ec</string>
</dict>
</plist>